@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
}

nav {
  display: inline-block;
  background-color: rgb(0, 132, 255);
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
}

nav #nombre_empresa {
  float: left;
  margin-left: 2%;
  margin-top: 1%;
  width: 85px;
}

nav #contenedor-carrito {
  float: right;
  margin-right: 2%;
  margin-top: 1%;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(98, 179, 255);
}

body #contenedor_objetos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80%;
  height: 700px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.objeto_plantilla {
  width: 60%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border-radius: 14px;
  background-color: rgb(0, 132, 255);
  color: white;
}

.objeto_plantilla img {
  width: 100%;
  height: 60%;
  border-radius: 14px 14px 0 0;
}

.objeto_plantilla .objeto_titulo {
  font-weight: bold;
  font-size: x-large;
  margin-top: 1%;
  margin-left: 1%;
}

.objeto_plantilla .objeto_descripcion {
  font-size: large;
  margin-top: 1%;
  margin-left: 1%;
}

.objeto_plantilla .objeto_precio {
  font-size: large;
  margin-top: 1%;
  margin-left: 1%;
}

.objeto_plantilla input {
  margin-top: 1%;
  margin-left: 1%;
  background-color: yellow;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.objeto_plantilla input:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

#contador_de_objetos{
  background-color: yellow;
  border-radius: 5px;
  width: 0.7rem;
  text-align: center;
  font-weight: bold;
  display: none;
}